<div class="d-flex justify-content-center">
    <h2>My profile</h2>
</div>
<form>
    <table class="table">
        <tr>
            <td rowspan="7">
                <img src="{{image}}" alt="{{image}}" style="height: 200px; width: 200px;"><br><br>
                <input type="file" name="image" [(ngModel)]="image">
            </td>
        </tr>
        <tr>
            <td>Firstname:</td>
            <td><input type="text" class="form-control" name="firstname" [(ngModel)]="firstname"></td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><input type="text" class="form-control" name="lastname" [(ngModel)]="lastname"></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" class="form-control" name="username" [(ngModel)]="username"></td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td><input type="text" class="form-control" name="phone" [(ngModel)]="phone"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" class="form-control" name="email" [(ngModel)]="email"></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <button class="btn btn-light btn-outline-primary">Apply changes</button>
            </td>
        </tr>
    </table>
    <label class="error">{{errorMessage}}</label>
    <label class="success">{{infoMessage}}</label>
    
</form>
