<div class="container container-color">
    <div class="row wheat-color mt-3 rounded">
        <div class="col-sm-12 col-md-6 d-flex align-items-center">
            <header><h1><a routerLink="" style="text-decoration: none; color: rgb(28, 80, 126);">Welcome to Art Workshop</a></h1></header>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-end" *ngIf="user == null; else logoutTemplate">
            <table>
                <tr>
                    <td><label>New user?</label></td>
                    <td class="text-right"><a routerLink="register">Register here</a></td>
                </tr>
                <tr>
                    <td><label>Already have an account?</label></td>
                    <td class="text-right"><a routerLink="login">Login</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row menu rounded p-2">
        <div class="col-sm-12 d-flex justify-content-around" *ngIf="user !== null && user['type'] === 'participant'">
            <a routerLink="profile"><button class="btn btn-outline-info">Profile</button></a>
            <a routerLink="activeWorkshops"><button class="btn btn-outline-info">Workshops</button></a>
            <a routerLink=""><button class="btn btn-outline-info">Become organiser</button></a>
        </div>
        <div class="col-sm-12 d-flex justify-content-around" *ngIf="user !== null && user['type'] === 'organiser'">
            <a routerLink="myWorkshops"><button class="btn btn-outline-info">Profile</button></a>
            <a routerLink="newWorkshop"><button class="btn btn-outline-info">New workshop</button></a>
        </div>
        <div class="col-sm-12 d-flex justify-content-around" *ngIf="user !== null && user['type'] === 'admin'">
            <a routerLink="manageUsers"><button class="btn btn-outline-info">Manage users</button></a>
            <a routerLink="registrations"><button class="btn btn-outline-info">Registrations</button></a>
            <a routerLink=""><button class="btn btn-outline-info">Workshops</button></a>
        </div>
    </div>
    <div class="row main-row d-flex justify-content-center mt-5">
        <router-outlet></router-outlet>
    </div>
    <div class="row wheat-color mb-3 rounded">
        <div class="col-sm-12 d-flex justify-content-center">
            <div>
                <footer class="text-center"><h5>Developed by: Martin Cvetković</h5></footer>
            </div>
        </div>
    </div>
</div>

<ng-template #logoutTemplate>
    <div class="col-sm-12 col-md-6 d-flex justify-content-end">
        <form>
            <table>
                <tr>
                    <td class="text-center">
                        <label class="m-1" style="font-size: large; font-weight: 500;">{{user["firstname"]}} {{user["lastname"]}}</label>
                    </td>
                    <td class="text-center">
                        <button (click)="logout()" class="btn btn-light btn-outline-dark mb-1 mt-0 p-0">Logout</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="2">
                        <a routerLink="changePassword">Change password?</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</ng-template>
