<div class="container container-color">
    <div class="row wheat-color mt-3 rounded">
        <div class="col-sm-12 col-md-6">
            <header><h1>Welcome to Art Workshop</h1></header>
        </div>
        <div class="col-sm-12 col-md-6   d-flex justify-content-end">
            <table>
                <tr>
                    <td><label>New user?</label></td>
                    <td class="text-right"><a routerLink="register">Register here</a></td>
                </tr>
                <tr>
                    <td><label>Already have an account?</label></td>
                    <td class="text-right"><a routerLink="login">Login</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row main-row">
        <router-outlet></router-outlet>
    </div>
    <div class="row wheat-color mb-3 rounded">
        <div class="col-sm-12 d-flex justify-content-center">
            <div>
                <footer class="text-center"><h5>Developed by: Martin Cvetković</h5></footer>
            </div>
        </div>
    </div>
</div>
