.wheat-color {
    background-color: wheat;
}

.container-color {
    background-color: aliceblue;
}

.main-row {
    display: block;
    overflow: auto;
    min-height: 550px;
}

.menu {
    background-color: rgb(226, 224, 241);
}
