<h2>Available workshops</h2>
<table class="table">
    <tr *ngFor="let w of allActiveWorkshops">
        <table>
            <tr>
                <td rowspan="2">
                    <img src="{{w.main_img}}" style="width: 200px; height: 200px;">
                </td>
                <td>
                    <h5>{{w.name}}</h5>
                    <label>Date: {{w.date}}</label><br>
                    <label>Place: {{w.place}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Short description:</label><br>
                    <label>{{w.short_description}}</label><br>
                    <button class="btn btn-info" [disabled]="isUnregistered">More details</button>
                </td>
            </tr>
        </table>
    </tr>
</table>