<h3 class="text-center">Change password</h3>
<form>
    <table class="table">
        <tr>
            <td>Old password:</td>
            <td><input type="password" class="form-control" name="oldPassword" [(ngModel)]="oldPassword"></td>
        </tr>
        <tr>
            <td>New password:</td>
            <td><input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword"></td>
        </tr>
        <tr>
            <td>Repeated new password:</td>
            <td><input type="password" class="form-control" name="repeatedPassword" [(ngModel)]="repeatedPassword"></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <button class="btn btn-light btn-outline-success" (click)="changePassword()">Apply changes</button>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{infoMessage}}</label>
    </div>
</form>
