<div class="d-flex justify-content-center">
    <h2>My workshops</h2>
</div>
<br>
<table class="table" *ngIf="canWriteWorkshops; else noWorkshops">
    <tr *ngFor="let w of allActiveWorkshops">
        <table>
            <tr>
                <td rowspan="3">
                    <img src="{{w.main_img}}" style="width: 200px; height: 200px;">
                </td>
                <td>
                    <h5>{{w.name}}</h5>
                    <label>Date: {{w.date}}</label><br>
                    <label>Place: {{w.place}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary" routerLink="workshopMessages" (click)="addCurrentWorkshop(w._id)">
                            Show messages
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" routerLink="editWorkshop" (click)="addCurrentWorkshop(w._id)">
                            Edit workshop
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" (click)="downloadTemplate(w)">
                            <a id="{{'downloadTemplate' + w._id}}" style="text-decoration: none; color: white;">
                                Download template
                            </a>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-primary" routerLink="showSignups" (click)="addCurrentWorkshop(w._id)">
                            Show signups
                        </button>
                        <button class="btn btn-danger" (click)="deleteWorkshop(w)">
                            Delete workshop
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </tr>
</table>

<ng-template #noWorkshops>
    <br><br><br><br>
    <div class="d-flex justify-content-center">
        <h5>There are no created workshops found.</h5>
    </div>
</ng-template>